
.badge {
  border-radius: 0.6em;
  color: wheat;
  font-weight: 400;
  padding: 0.5em 1em;  
  position: absolute;
  margin-left: 80px;
}

span:hover {  
  color: black;
  transform: rotate(3deg);
  /* transform: scale(1.1); */
  transition: all 0.5s ease-in-out;
  /* opacity: 0.3; */
}

.success {
  background-color: rgb(76, 160, 11) ;
}

.warning {
  background-color: rgb(174, 174, 23) ;
}

.error {
  background-color: rgb(125, 20, 20) ;
}